body
{
    margin: 0%;
    padding: 0%;
    background-color: #c6c6c6;
}

header
{
    background-color: #c6c6c6;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.h1-ctnr
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

button:focus {outline:0;}

.section-chat-ctnr
{
    width: 100%;
    height: 25vh;
    margin-top: 25px;
}

.chat-ctnr
{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 3px;
}

textarea
{
    width: 100%;
    height: 100%;
}

.section-ctnr
{
    width: 100%;
    height: 410px;
}

.clavier-ctnr
{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 75px auto;
}

.num-ctnr
{
    width: 80%;
    height: 18%;
    margin: 10px auto 1px auto;
    display: flex;
    align-items: center;
}

.azerty-ctnr
{
    width: 75%;
    height: 18%;
    margin: 1px auto;
    display: flex;
    align-items: center;
}

.qsd-ctnr
{
    width: 85%;
    height: 18%;
    margin: 1px auto;
    display: flex;
    align-items: center;
}

.wxc-ctnr
{
    width: 80%;
    height: 18%;
    margin: 1px auto;
    display: flex;
    align-items: center;
}

.space-ctnr
{
    width: 40%;
    height: 18%;
    margin: 1px auto;
    display: flex;
    align-items: center;
}

/* Touches clavier */

.num
{
    width: 9%;
    height: 100%;
    background: rgb(252, 252, 252);
    text-decoration: none;
}

.del
{
    width: 15%;
    height: 100%;
    background: rgb(252, 252, 252);
    text-decoration: none;
}

.azerty
{
    width: 10%;
    height: 100%;
    background: rgb(252, 252, 252);
    text-decoration: none;
}

.qsd
{
    width: 10%;
    height: 100%;
    background: rgb(252, 252, 252);
    text-decoration: none;
}

.caps
{
    width: 20%;
    height: 100%;
    background: rgb(252, 252, 252);
    text-decoration: none;
}

.checkbox-ctnr
{
    width: 13%;
    height: 92%;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    background-color: rgba(252, 252, 252);
}

input[type="checkbox"]
{
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    transition: .5s;
    
}

input:checked[type="checkbox"]
{
    background: #03a9f4;
}

input[type="checkbox"]:before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .5s;
}

input:checked[type="checkbox"]:before
{
    left: 20px;
}

.wxc
{
    width: 13%;
    height: 100%;
    background: rgb(252, 252, 252);
    text-decoration: none;
}

.enter
{
    width: 25%;
    height: 100%;
    background: rgb(252, 252, 252);
    text-decoration: none;
}

.space
{
    width: 100%;
    height: 100%;
    background: rgb(252, 252, 252);
    text-decoration: none;
}

footer
{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a
{
    text-decoration: none;
    color: white;
}