body
{
    margin: 0%;
    padding: 0%;
    background-color: white;
}

header
{
    background-color: white;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.night-ctnr
{
    width: 20%;
    height: 80%;
    display: flex;
    align-items: center;
    border: 1px solid;
    background-color: red;
}

.fas
{
    width: 100px;
    height: 100px;
}

button:focus {outline:0;}

.section-ctnr
{
    width: 100vw;
    height: 100vh;
}

.clavier-ctnr
{
    width: 80%;
    height: 60%;
    background-color: rgb(35, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 75px auto;
}

.num-ctnr
{
    width: 80%;
    height: 18%;
    margin: 10px auto 1px auto;
    display: flex;
    align-items: center;
}

.azerty-ctnr
{
    width: 75%;
    height: 18%;
    margin: 1px auto;
    display: flex;
    align-items: center;
}

.qsd-ctnr
{
    width: 85%;
    height: 18%;
    margin: 1px auto;
    display: flex;
    align-items: center;
}

.wxc-ctnr
{
    width: 80%;
    height: 18%;
    margin: 1px auto;
    display: flex;
    align-items: center;
}

.space-ctnr
{
    width: 40%;
    height: 18%;
    margin: 1px auto;
    display: flex;
    align-items: center;
}

/* Touches clavier */

.num
{
    width: 9%;
    height: 100%;
    background: rgb(252, 252, 252);
    text-decoration: none;
}

.del
{
    width: 15%;
    height: 100%;
    background: rgb(252, 252, 252);
    text-decoration: none;
}

.azerty
{
    width: 10%;
    height: 100%;
    background: rgb(252, 252, 252);
    text-decoration: none;
}

.qsd
{
    width: 10%;
    height: 100%;
    background: rgb(252, 252, 252);
    text-decoration: none;
}

.wxc
{
    width: 13%;
    height: 100%;
    background: rgb(252, 252, 252);
    text-decoration: none;
}

.enter
{
    width: 30%;
    height: 100%;
    background: rgb(252, 252, 252);
    text-decoration: none;
}

.space
{
    width: 100%;
    height: 100%;
    background: rgb(252, 252, 252);
    text-decoration: none;
}